
/*-- scss:defaults --*/

/*-- scss:rules --*/
.callout.callout-style-default .callout-body {
  font-size: 1.0rem;
}

.center {
    text-align: center;
}

.sidebar-logo {
  margin-bottom: 1.5em;
}

.sidebar-title {
  color: #3d0251;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.sidebar-search {
  margin-top: 0.8em;
  margin-bottom: 1em;
}

.cell-output {   
  border-left: 0.25em solid #b895ce;
  padding-left: 0.7em;

}

pre.sourceCode.bash {
  background-color: lightgray;
}

.code-with-filename .code-with-filename-file { 
  background-color: lightslategray;
  &, & * {
    color: rgb(230, 230, 230) !important;
    font-weight: normal !important;
  }
} 
